html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 700;
  src: url("../../fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-weight: 500;
  src: url("../../fonts/NotoSansJP-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-weight: 400;
  src: url("../../fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans JP";
  font-weight: 900;
  src: url("../../fonts/NotoSansJP-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #153962;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
}

.bg-outer {
  background-color: rgba(117, 167, 255, 0.3);
}

.bg-inner {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
}
@media screen and (min-width: 481px) {
  .bg-inner {
    max-width: 768px;
  }
}
@media screen and (min-width: 769px) {
  .bg-inner {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1025px) {
  .bg-inner {
    max-width: 1500px;
  }
}
@media screen and (min-width: 1501px) {
  .bg-inner {
    max-width: 1920px;
  }
}

.__inner {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 481px) {
  .__inner {
    width: 80%;
  }
}
@media screen and (min-width: 769px) {
  .__inner {
    width: 75%;
  }
}
@media screen and (min-width: 1025px) {
  .__inner {
    width: 65%;
  }
}

.fv {
  position: relative;
  z-index: 1;
  background-color: #75a7ff;
}

.__sp-img {
  display: block;
}
@media screen and (min-width: 481px) {
  .__sp-img {
    display: none;
  }
}

.__pc-img {
  display: none;
}
@media screen and (min-width: 481px) {
  .__pc-img {
    display: block;
  }
}

.header {
  position: relative;
  z-index: 1;
}
.header-wrap__logo {
  margin-left: auto;
  margin-right: 2.5%;
  padding-top: 10px;
  width: 45%;
}
@media screen and (min-width: 1025px) {
  .header-wrap__logo {
    width: 25%;
  }
}
.header-wrap__logo img {
  width: 100%;
  display: block;
}

.top {
  position: relative;
  z-index: -1;
  height: clamp(25rem, 12.5rem + 62.5vw, 31.25rem);
}
@media screen and (min-width: 481px) {
  .top {
    height: clamp(31.25rem, 10.417rem + 69.44vw, 43.75rem);
  }
}
@media screen and (min-width: 1025px) {
  .top {
    height: clamp(43.75rem, 28.914rem + 23.16vw, 50.625rem);
  }
}
@media screen and (min-width: 1501px) {
  .top {
    height: clamp(50.625rem, 12.563rem + 40.57vw, 61.25rem);
  }
}
.top-wrap__bg {
  width: clamp(20rem, 7.5rem + 62.5vw, 26.25rem);
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
@media screen and (min-width: 481px) {
  .top-wrap__bg {
    left: -13.5%;
    width: clamp(32.5rem, 8.408rem + 80.14vw, 46.875rem);
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__bg {
    left: -6.5%;
    width: clamp(45rem, 35.576rem + 19.61vw, 48.125rem);
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__bg {
    left: 0;
    width: clamp(47.5rem, 28.618rem + 29.47vw, 56.25rem);
  }
}
@media screen and (min-width: 1501px) {
  .top-wrap__bg {
    width: clamp(56.25rem, 15.949rem + 42.96vw, 67.5rem);
  }
}
.top-wrap__bg img {
  width: 100%;
  height: auto;
  display: block;
}
.top-wrap__ttl {
  position: absolute;
  text-align: right;
}
.top-wrap__ttl.__first {
  width: 50%;
  top: 15%;
  right: 20%;
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl.__first {
    top: 8%;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__ttl.__first {
    right: 25%;
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__ttl.__first {
    right: 23.5%;
  }
}
.top-wrap__ttl.__first img {
  width: clamp(8.75rem, -0.341rem + 45.45vw, 11.875rem);
  margin-top: -6%;
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl.__first img {
    width: clamp(11.875rem, 6.667rem + 17.36vw, 15rem);
    margin-top: -4%;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__ttl.__first img {
    width: clamp(15rem, 7.461rem + 15.69vw, 17.5rem);
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__ttl.__first img {
    width: clamp(18.75rem, 10.658rem + 12.63vw, 22.5rem);
  }
}
.top-wrap__ttl.__first p {
  -webkit-transform: rotate(-5deg) translateY(5%);
      -ms-transform: rotate(-5deg) translateY(5%);
          transform: rotate(-5deg) translateY(5%);
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl.__first p {
    -webkit-transform: rotate(-5deg) translateY(15%);
        -ms-transform: rotate(-5deg) translateY(15%);
            transform: rotate(-5deg) translateY(15%);
  }
}
@media screen and (min-width: 1501px) {
  .top-wrap__ttl.__first p {
    -webkit-transform: rotate(-5deg) translateY(35%);
        -ms-transform: rotate(-5deg) translateY(35%);
            transform: rotate(-5deg) translateY(35%);
  }
}
.top-wrap__ttl.__second {
  top: 25%;
  width: 70%;
  right: 1%;
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl.__second {
    top: 17%;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__ttl.__second {
    right: 5%;
    top: 16%;
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__ttl.__second {
    right: 5%;
  }
}
.top-wrap__ttl.__second img {
  width: clamp(12.5rem, -2.045rem + 72.73vw, 17.5rem);
  height: auto;
  margin-top: -6%;
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl.__second img {
    width: clamp(17.5rem, 9.688rem + 26.04vw, 22.188rem);
    margin-top: -4%;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__ttl.__second img {
    width: clamp(22.188rem, 11.821rem + 21.57vw, 25.625rem);
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__ttl.__second img {
    width: clamp(27.813rem, 16.349rem + 17.89vw, 33.125rem);
  }
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl.__second p {
    -webkit-transform: rotate(-5deg) translateY(15%);
        -ms-transform: rotate(-5deg) translateY(15%);
            transform: rotate(-5deg) translateY(15%);
  }
}
@media screen and (min-width: 1501px) {
  .top-wrap__ttl.__second p {
    -webkit-transform: rotate(-5deg) translateY(35%);
        -ms-transform: rotate(-5deg) translateY(35%);
            transform: rotate(-5deg) translateY(35%);
  }
}
.top-wrap__ttl p {
  font-size: clamp(0.938rem, -0.335rem + 6.36vw, 1.375rem);
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  color: #fff;
}
@media screen and (min-width: 481px) {
  .top-wrap__ttl p {
    font-size: clamp(1.375rem, 0.75rem + 2.08vw, 1.75rem);
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__ttl p {
    display: block;
    font-size: clamp(1.75rem, 0.961rem + 1.64vw, 2.5rem);
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__ttl p {
    letter-spacing: 3px;
  }
}
.top-wrap__head {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2% 7.5%;
  background-color: #fff;
  display: inline-block;
  -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
          transform: rotate(-5deg);
  position: absolute;
  right: 0;
  top: 38%;
  -webkit-clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
  font-size: clamp(1rem, -0.273rem + 6.36vw, 1.438rem);
  color: #75a7ff;
}
@media screen and (min-width: 481px) {
  .top-wrap__head {
    font-size: clamp(1.438rem, 0.5rem + 3.13vw, 2rem);
    padding: 2% 5%;
    top: 28%;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__head {
    font-size: clamp(2rem, 1.145rem + 1.78vw, 2.813rem);
    top: 26%;
    padding: 1.5% 4%;
    right: 5%;
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__head {
    right: 3%;
    letter-spacing: 3px;
    padding: 1.25% 4%;
  }
}
.top-wrap__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 25%;
}
@media screen and (min-width: 481px) {
  .top-wrap__circle {
    bottom: 24%;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__circle {
    bottom: 26%;
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__circle {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 93%;
    bottom: 27%;
  }
}
.top-wrap__circle__block {
  width: clamp(5rem, 2.5rem + 12.5vw, 6.25rem);
  height: clamp(5rem, 2.5rem + 12.5vw, 6.25rem);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: relative;
}
@media screen and (min-width: 481px) {
  .top-wrap__circle__block {
    width: clamp(6.25rem, 1.013rem + 17.42vw, 9.375rem);
    height: clamp(6.25rem, 1.013rem + 17.42vw, 9.375rem);
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__circle__block {
    width: clamp(9.375rem, 8.06rem + 2.74vw, 10.625rem);
    height: clamp(9.375rem, 8.06rem + 2.74vw, 10.625rem);
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__circle__block {
    width: clamp(9.375rem, 6.678rem + 4.21vw, 10.625rem);
    height: clamp(9.375rem, 6.678rem + 4.21vw, 10.625rem);
  }
}
.top-wrap__circle__block::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  bottom: 4px;
  right: 4px;
  border: 2px dashed #75a7ff;
  border-radius: 50%;
}
.top-wrap__circle__block__txt {
  text-align: center;
  font-size: clamp(0.563rem, 0.313rem + 1.25vw, 0.688rem);
  color: #75a7ff;
  line-height: 1.2;
}
@media screen and (min-width: 481px) {
  .top-wrap__circle__block__txt {
    font-size: clamp(0.688rem, -0.042rem + 2.43vw, 1.125rem);
    line-height: 1.4;
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__circle__block__txt {
    font-size: clamp(1.125rem, 0.862rem + 0.55vw, 1.375rem);
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__circle__block__txt {
    font-size: clamp(1rem, 0.461rem + 0.84vw, 1.25rem);
  }
}
.top-wrap__btn {
  position: relative;
  top: clamp(19.375rem, 10.625rem + 43.75vw, 23.75rem);
}
@media screen and (min-width: 481px) {
  .top-wrap__btn {
    top: clamp(24.375rem, 7.708rem + 55.56vw, 34.375rem);
  }
}
@media screen and (min-width: 769px) {
  .top-wrap__btn {
    top: 530px;
  }
}
@media screen and (min-width: 1025px) {
  .top-wrap__btn {
    top: clamp(33.125rem, 21.661rem + 17.89vw, 38.438rem);
    margin-right: 80px;
  }
}
@media screen and (min-width: 1501px) {
  .top-wrap__btn {
    top: clamp(38.438rem, 13.809rem + 26.25vw, 45.313rem);
  }
}

.cta {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .cta {
    width: 90%;
  }
}
.cta-anchor:hover .__arrow {
  -webkit-transform: translateX(7.5px);
      -ms-transform: translateX(7.5px);
          transform: translateX(7.5px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.cta-anchor__sub__inner {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: inline-block;
  padding: 0 5%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  font-size: clamp(0.5rem, 0.125rem + 1.88vw, 0.688rem);
  font-weight: 900;
  color: #153962;
  line-height: 2;
}
@media screen and (min-width: 481px) {
  .cta-anchor__sub__inner {
    -webkit-transform: translateY(52%);
        -ms-transform: translateY(52%);
            transform: translateY(52%);
    font-size: clamp(0.688rem, 0.271rem + 1.39vw, 0.938rem);
  }
}
@media screen and (min-width: 769px) {
  .cta-anchor__sub__inner {
    font-size: clamp(0.938rem, 0.806rem + 0.27vw, 1.063rem);
  }
}
@media screen and (min-width: 1025px) {
  .cta-anchor__sub__inner {
    -webkit-transform: translateY(55%);
        -ms-transform: translateY(55%);
            transform: translateY(55%);
    padding: 0 2.5%;
    font-size: clamp(0.875rem, 0.605rem + 0.42vw, 1rem);
  }
}
.cta-anchor__main__inner {
  display: inline-block;
  background-color: #ffbf00;
  position: relative;
  top: 0;
  padding: 5% 12.5% 1.5%;
  border-radius: 50px;
  border: 2px solid #fff;
}
@media screen and (min-width: 481px) {
  .cta-anchor__main__inner {
    padding: 3.5% 12.5% 1.5%;
    border: 3px solid #fff;
  }
}
@media screen and (min-width: 1025px) {
  .cta-anchor__main__inner {
    border-radius: 100px;
    padding: 2.5% 7.5% 1%;
  }
}
@media screen and (min-width: 1501px) {
  .cta-anchor__main__inner {
    width: 470px;
    height: 116px;
    padding: 0;
  }
}
.cta-anchor__main__inner__txt {
  text-align: center;
  font-size: clamp(0.563rem, 0.313rem + 1.25vw, 0.688rem);
  font-weight: 700;
  padding-top: 4.5px;
}
@media screen and (min-width: 481px) {
  .cta-anchor__main__inner__txt {
    font-size: clamp(0.688rem, 0.271rem + 1.39vw, 0.938rem);
  }
}
@media screen and (min-width: 769px) {
  .cta-anchor__main__inner__txt {
    font-size: clamp(0.938rem, 0.806rem + 0.27vw, 1.063rem);
  }
}
@media screen and (min-width: 1025px) {
  .cta-anchor__main__inner__txt {
    font-size: clamp(0.813rem, 0.408rem + 0.63vw, 1rem);
  }
}
@media screen and (min-width: 1501px) {
  .cta-anchor__main__inner__txt {
    margin-top: 6%;
  }
}
.cta-anchor__main__inner__con {
  margin-top: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 481px) {
  .cta-anchor__main__inner__con {
    margin-top: 4%;
  }
}
@media screen and (min-width: 1025px) {
  .cta-anchor__main__inner__con {
    margin-top: 3%;
  }
}
.cta-anchor__main__inner__con__act {
  font-size: clamp(0.813rem, -0.278rem + 5.45vw, 1rem);
}
@media screen and (min-width: 481px) {
  .cta-anchor__main__inner__con__act {
    font-size: clamp(1rem, 0.375rem + 2.08vw, 1.375rem);
  }
}
@media screen and (min-width: 769px) {
  .cta-anchor__main__inner__con__act {
    font-size: clamp(1.375rem, 1.178rem + 0.41vw, 1.563rem);
  }
}
@media screen and (min-width: 1025px) {
  .cta-anchor__main__inner__con__act {
    font-size: clamp(1.25rem, 0.845rem + 0.63vw, 1.438rem);
  }
}
.cta-anchor__main__inner__con__icon {
  width: 13%;
}
@media screen and (min-width: 1025px) {
  .cta-anchor__main__inner__con__icon {
    width: 15%;
  }
}
@media screen and (min-width: 1501px) {
  .cta-anchor__main__inner__con__icon {
    width: 10%;
  }
}
.cta-anchor__main__inner__con__icon img {
  width: 100%;
  display: block;
}

.__arrow {
  margin-left: 5px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media screen and (min-width: 1025px) {
  .top-wrap__btn .cta {
    text-align: right;
  }
}

@media screen and (min-width: 1025px) {
  .top-wrap__btn .cta-anchor__sub__inner {
    margin-right: clamp(4.5rem, 0.724rem + 5.89vw, 6.25rem);
  }
}
@media screen and (min-width: 1501px) {
  .top-wrap__btn .cta-anchor__sub__inner {
    margin-right: 100px;
  }
}
