@charset "UTF-8";

@use "foundation";

@use "global" as g;

.bg-outer {
  background-color: g.$cBlue-Clear;
}

.bg-inner {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  background-color: g.$cWhite;
  @include g.mq(sp) {
    max-width: 768px;
  }
  @include g.mq(tab) {
    max-width: 1024px;
  }
  @include g.mq(pc) {
    max-width: 1500px;
  }
}

.__inner {
  width: 90%;
  margin: 0 auto;
  @include g.mq(sp) {
    width: 85%;
  }
}

.fv {
  position: relative;
  z-index: 1;
  background-color: g.$cBlue;
}

.__sp-img {
  display: block;
  @include g.mq(sp) {
    display: none;
  }
}
.__pc-img {
  display: none;
  @include g.mq(sp) {
    display: block;
  }
}

.header {
  position: relative;
  z-index: 1;
  &-wrap {
    &__logo {
      margin-left: auto;
      margin-right: 2.5%;
      padding-top: 10px;
      width: 45%;
      @include g.mq(pc) {
        width: 25%;
      }
      & img {
        width: 100%;
        display: block;
      }
    }
  }
}

.top {
  position: relative;
  z-index: -1;
  height: clamp(25rem, 12.5rem + 62.5vw, 31.25rem);
  @include g.mq(sp) {
    height: clamp(31.25rem, 10.417rem + 69.44vw, 43.75rem);
  }
  &-wrap {
    &__bg {
      width: 100%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      overflow: hidden;
      @include g.mq(sp) {
        left: -7.5%;
      }
      @include g.mq(tab) {
        width: 80%;
      }
      @include g.mq(pc) {
        left: 0;
        width: 60%;
      }
      & img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    &__ttl {
      position: absolute;
      text-align: right;
      &.__first {
        width: 50%;
        top: 15%;
        right: 20%;
        @include g.mq(sp) {
          top: 8%;
        }
        @include g.mq(tab) {
          right: 25%;
        }
        & img {
          width: clamp(8.75rem, -0.341rem + 45.45vw, 11.875rem);
          position: relative;
          z-index: -1;
          top: -10px;
          left: 5px;
          @include g.mq(sp) {
            width: clamp(11.875rem, 6.667rem + 17.36vw, 15rem);
            top: -14px;
          }
          @include g.mq(tab) {
            width: clamp(15rem, 7.461rem + 15.69vw, 17.5rem);
            top: -22px;
          }
        }
      }
      &.__second {
        top: 25%;
        width: 70%;
        right: 1%;
        @include g.mq(sp) {
          top: 17%;
        }
        @include g.mq(tab) {
          right: 5%;
          top: 16%;
        }
        & img {
          width: clamp(12.5rem, -2.045rem + 72.73vw, 17.5rem);
          height: auto;
          position: relative;
          z-index: -1;
          top: -18px;
          left: 0;
          @include g.mq(sp) {
            width: clamp(17.5rem, 9.688rem + 26.04vw, 22.188rem);
            top: -18px;
          }
          @include g.mq(tab) {
            width: clamp(22.188rem, 11.821rem + 21.57vw, 25.625rem);
            top: -28px;
          }
        }
      }
      & p {
        font-size: clamp(0.938rem, -0.335rem + 6.36vw, 1.375rem);
        transform: rotate(-5deg);
        color: g.$cWhite;
        @include g.mq(sp) {
          font-size: clamp(1.375rem, 0.75rem + 2.08vw, 1.75rem);
        }
        @include g.mq(tab) {
          display: block;
          font-size: clamp(1.75rem, 0.961rem + 1.64vw, 2.5rem);
        }
      }
    }
    &__head {
      box-sizing: border-box;
      padding: 2% 7.5%;
      background-color: g.$cWhite;
      display: inline-block;
      transform: rotate(-5deg);
      position: absolute;
      right: 0;
      top: 38%;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
      font-size: clamp(1rem, -0.273rem + 6.36vw, 1.438rem);
      color: g.$cBlue;
      @include g.mq(sp) {
        font-size: clamp(1.438rem, 0.5rem + 3.13vw, 2rem);
        padding: 2% 5%;
        top: 28%;
      }
      @include g.mq(tab) {
        font-size: clamp(2rem, 1.145rem + 1.78vw, 2.813rem);
        top: 26%;
        padding: 1.5% 4%;
        right: 5%;
      }
    }
    &__circle {
      display: flex;
      justify-content: center;
      gap: 1.5%;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 25%;
      @include g.mq(sp) {
        bottom: 24%;
      }
      @include g.mq(tab) {
        bottom: 26%;
      }
      &__block {
        width: clamp(5rem, 2.5rem + 12.5vw, 6.25rem);
        height: clamp(5rem, 2.5rem + 12.5vw, 6.25rem);
        background-color: g.$cWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        @include g.mq(sp) {
          width: clamp(6.25rem, 20.83vw, 10rem);
          height: clamp(6.25rem, 20.83vw, 10rem);
        }
        @include g.mq(tab) {
          width: clamp(10rem, 8.356rem + 3.42vw, 11.563rem);
          height: clamp(10rem, 8.356rem + 3.42vw, 11.563rem);
        }
        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          bottom: 4px;
          right: 4px;
          border: 2px dashed g.$cBlue;
          border-radius: 50%;
        }
        &__txt {
          text-align: center;
          font-size: clamp(0.563rem, 0.313rem + 1.25vw, 0.688rem);
          color: g.$cBlue;
          line-height: 1.2;
          @include g.mq(sp) {
            font-size: clamp(0.688rem, -0.042rem + 2.43vw, 1.125rem);
          }
          @include g.mq(tab) {
            font-size: clamp(1.125rem, 0.862rem + 0.55vw, 1.375rem);
          }
        }
      }
    }
    &__btn {
      position: relative;
      top: clamp(19.375rem, 10.625rem + 43.75vw, 23.75rem);
      @include g.mq(sp) {
        top: clamp(24.375rem, 7.708rem + 55.56vw, 34.375rem);
      }
      @include g.mq(tab) {
        top: 530px;
      }
    }
  }
}

.cta {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  &-anchor {
    &:hover {
      .__arrow {
        transform: translateX(7.5px);
        transition: transform 0.3s ease;
      }
    }
    &__sub {
      &__inner {
        background-color: g.$cWhite;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        width: 65%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        transform: translateY(10px);
        font-size: 11px;
        font-weight: 900;
        color: g.$cNavy;
        line-height: 2;
        @include g.mq(sp) {
          width: 45%;
          font-size: clamp(0.688rem, 0.271rem + 1.39vw, 0.938rem);
        }
        @include g.mq(tab) {
          width: 260px;
          font-size: clamp(0.938rem, 0.806rem + 0.27vw, 1.063rem);
        }
      }
    }
    &__main {
      &__inner {
        display: inline-block;
        background-color: g.$cYellow;
        width: 80%;
        position: relative;
        top: 0;
        padding: 4% 5.5% 2%;
        border-radius: 50px;
        border: 2px solid g.$cWhite;
        @include g.mq(sp) {
          width: 62.5%;
          padding: 3% 0 1%;
          border: 3px solid g.$cWhite;
        }
        @include g.mq(tab) {
          width: 390px;
        }
        &__txt {
          text-align: center;
          font-size: 11px;
          font-weight: 500;
          @include g.mq(sp) {
            font-size: clamp(0.688rem, 0.271rem + 1.39vw, 0.938rem);
          }
          @include g.mq(tab) {
            font-size: clamp(0.938rem, 0.806rem + 0.27vw, 1.063rem);
          }
        }
        &__con {
          margin-top: 2.5%;
          display: flex;
          gap: 2.5%;
          justify-content: center;
          align-items: center;
          &__act {
            font-size: clamp(0.813rem, -0.278rem + 5.45vw, 1rem);
            @include g.mq(sp) {
              font-size: clamp(1rem, 0.375rem + 2.08vw, 1.375rem);
            }
            @include g.mq(tab) {
              font-size: clamp(1.375rem, 1.178rem + 0.41vw, 1.563rem);
            }
          }
          &__icon {
            width: 10%;
            & img {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}

.__arrow {
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}
