@charset "UTF-8";

@use "foundation";

@use "global" as g;

.bg-outer {
  background-color: g.$cBlue-Clear;
}

.bg-inner {
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  background-color: g.$cWhite;
  @include g.mq(sp) {
    max-width: 768px;
  }
  @include g.mq(tab) {
    max-width: 1024px;
  }
  @include g.mq(pc) {
    max-width: 1500px;
  }
  @include g.mq(pc-l) {
    max-width: 1920px;
  }
}

.__inner {
  width: 90%;
  margin: 0 auto;
  @include g.mq(sp) {
    width: 80%;
  }
  @include g.mq(tab) {
    width: 75%;
  }
  @include g.mq(pc) {
    width: 65%;
  }
}

.fv {
  position: relative;
  z-index: 1;
  background-color: g.$cBlue;
}

.__sp-img {
  display: block;
  @include g.mq(sp) {
    display: none;
  }
}
.__pc-img {
  display: none;
  @include g.mq(sp) {
    display: block;
  }
}

.header {
  position: relative;
  z-index: 1;
  &-wrap {
    &__logo {
      margin-left: auto;
      margin-right: 2.5%;
      padding-top: 10px;
      width: 45%;
      @include g.mq(pc) {
        width: 25%;
      }
      & img {
        width: 100%;
        display: block;
      }
    }
  }
}

.top {
  position: relative;
  z-index: -1;
  height: clamp(25rem, 12.5rem + 62.5vw, 31.25rem);
  @include g.mq(sp) {
    height: clamp(31.25rem, 10.417rem + 69.44vw, 43.75rem);
  }
  @include g.mq(pc) {
    height: clamp(43.75rem, 28.914rem + 23.16vw, 50.625rem);
  }
  @include g.mq(pc-l) {
    height: clamp(50.625rem, 12.563rem + 40.57vw, 61.25rem);
  }
  &-wrap {
    &__bg {
      width: clamp(20rem, 7.5rem + 62.5vw, 26.25rem);
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      overflow: hidden;
      @include g.mq(sp) {
        left: -13.5%;
        width: clamp(32.5rem, 8.408rem + 80.14vw, 46.875rem);
      }
      @include g.mq(tab) {
        left: -6.5%;
        width: clamp(45rem, 35.576rem + 19.61vw, 48.125rem);
      }
      @include g.mq(pc) {
        left: 0;
        width: clamp(47.5rem, 28.618rem + 29.47vw, 56.25rem);
      }
      @include g.mq(pc-l) {
        width: clamp(56.25rem, 15.949rem + 42.96vw, 67.5rem);
      }
      & img {
        width: 100%;
        height: auto;
        display: block;
      }
      &.__pc-img {
        & img {
          width: 95%;
        }
      }
    }
    &__ttl {
      position: absolute;
      text-align: right;
      &.__first {
        width: 50%;
        top: 15%;
        right: 20%;
        @include g.mq(sp) {
          top: 8%;
        }
        @include g.mq(tab) {
          right: 25%;
        }
        @include g.mq(pc) {
          right: 23.5%;
        }
        & img {
          width: clamp(8.75rem, -0.341rem + 45.45vw, 11.875rem);
          margin-top: -6%;
          @include g.mq(sp) {
            width: clamp(11.875rem, 6.667rem + 17.36vw, 15rem);
            margin-top: -4%;
          }
          @include g.mq(tab) {
            width: clamp(15rem, 7.461rem + 15.69vw, 17.5rem);
          }
          @include g.mq(pc) {
            width: clamp(18.75rem, 10.658rem + 12.63vw, 22.5rem);
          }
        }
        & p {
          transform: rotate(-5deg) translateY(5%);
          @include g.mq(sp) {
            transform: rotate(-5deg) translateY(15%);
          }
          @include g.mq(pc-l) {
            transform: rotate(-5deg) translateY(35%);
          }
        }
      }
      &.__second {
        top: 25%;
        width: 70%;
        right: 1%;
        @include g.mq(sp) {
          top: 17%;
        }
        @include g.mq(tab) {
          right: 5%;
          top: 16%;
        }
        @include g.mq(pc) {
          right: 5%;
        }
        & img {
          width: clamp(12.5rem, -2.045rem + 72.73vw, 17.5rem);
          height: auto;
          margin-top: -6%;
          @include g.mq(sp) {
            width: clamp(17.5rem, 9.688rem + 26.04vw, 22.188rem);
            margin-top: -4%;
          }
          @include g.mq(tab) {
            width: clamp(22.188rem, 11.821rem + 21.57vw, 25.625rem);
          }
          @include g.mq(pc) {
            width: clamp(27.813rem, 16.349rem + 17.89vw, 33.125rem);
          }
        }
        & p {
          @include g.mq(sp) {
            transform: rotate(-5deg) translateY(15%);
          }
          @include g.mq(pc-l) {
            transform: rotate(-5deg) translateY(35%);
          }
        }
      }
      & p {
        font-size: clamp(0.938rem, -0.335rem + 6.36vw, 1.375rem);
        transform: rotate(-5deg);
        color: g.$cWhite;
        @include g.mq(sp) {
          font-size: clamp(1.375rem, 0.75rem + 2.08vw, 1.75rem);
        }
        @include g.mq(tab) {
          display: block;
          font-size: clamp(1.75rem, 0.961rem + 1.64vw, 2.5rem);
        }
        @include g.mq(pc) {
          letter-spacing: 3px;
        }
      }
    }
    &__head {
      box-sizing: border-box;
      padding: 2% 7.5%;
      background-color: g.$cWhite;
      display: inline-block;
      transform: rotate(-5deg);
      position: absolute;
      right: 0;
      top: 38%;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
      font-size: clamp(1rem, -0.273rem + 6.36vw, 1.438rem);
      color: g.$cBlue;
      @include g.mq(sp) {
        font-size: clamp(1.438rem, 0.5rem + 3.13vw, 2rem);
        padding: 2% 5%;
        top: 28%;
      }
      @include g.mq(tab) {
        font-size: clamp(2rem, 1.145rem + 1.78vw, 2.813rem);
        top: 26%;
        padding: 1.5% 4%;
        right: 5%;
      }
      @include g.mq(pc) {
        right: 3%;
        letter-spacing: 3px;
        padding: 1.25% 4%;
      }
    }
    &__circle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5%;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      bottom: 25%;
      @include g.mq(sp) {
        bottom: 24%;
      }
      @include g.mq(tab) {
        bottom: 26%;
      }
      @include g.mq(pc) {
        justify-content: flex-end;
        width: 93%;
        bottom: 27%;
      }
      &__block {
        width: clamp(5rem, 2.5rem + 12.5vw, 6.25rem);
        height: clamp(5rem, 2.5rem + 12.5vw, 6.25rem);
        background-color: g.$cWhite;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: relative;
        @include g.mq(sp) {
          width: clamp(6.25rem, 1.013rem + 17.42vw, 9.375rem);
          height: clamp(6.25rem, 1.013rem + 17.42vw, 9.375rem);
        }
        @include g.mq(tab) {
          width: clamp(9.375rem, 8.06rem + 2.74vw, 10.625rem);
          height: clamp(9.375rem, 8.06rem + 2.74vw, 10.625rem);
        }
        @include g.mq(pc) {
          width: clamp(9.375rem, 6.678rem + 4.21vw, 10.625rem);
          height: clamp(9.375rem, 6.678rem + 4.21vw, 10.625rem);
        }
        &::before {
          content: "";
          position: absolute;
          top: 4px;
          left: 4px;
          bottom: 4px;
          right: 4px;
          border: 2px dashed g.$cBlue;
          border-radius: 50%;
        }
        &__txt {
          text-align: center;
          font-size: clamp(0.563rem, 0.313rem + 1.25vw, 0.688rem);
          color: g.$cBlue;
          line-height: 1.2;
          @include g.mq(sp) {
            font-size: clamp(0.688rem, -0.042rem + 2.43vw, 1.125rem);
            line-height: 1.4;
          }
          @include g.mq(tab) {
            font-size: clamp(1.125rem, 0.862rem + 0.55vw, 1.375rem);
          }
          @include g.mq(pc) {
            font-size: clamp(1rem, 0.461rem + 0.84vw, 1.25rem);
          }
        }
      }
    }
    &__btn {
      position: relative;
      top: clamp(19.375rem, 10.625rem + 43.75vw, 23.75rem);
      @include g.mq(sp) {
        top: clamp(24.375rem, 7.708rem + 55.56vw, 34.375rem);
      }
      @include g.mq(tab) {
        top: 530px;
      }
      @include g.mq(pc) {
        top: clamp(33.125rem, 21.661rem + 17.89vw, 38.438rem);
        margin-right: 80px;
      }
      @include g.mq(pc-l) {
        top: clamp(38.438rem, 13.809rem + 26.25vw, 45.313rem);
      }
    }
  }
}

.cta {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  @include g.mq(pc) {
    width: 90%;
  }
  &-anchor {
    &:hover {
      .__arrow {
        transform: translateX(7.5px);
        transition: transform 0.3s ease;
      }
    }
    &__sub {
      &__inner {
        background-color: g.$cWhite;
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        padding: 0 5%;
        margin: 0 auto;
        position: relative;
        z-index: 2;
        transform: translateY(10px);
        font-size: clamp(0.5rem, 0.125rem + 1.88vw, 0.688rem);
        font-weight: 900;
        color: g.$cNavy;
        line-height: 2;
        @include g.mq(sp) {
          transform: translateY(52%);
          font-size: clamp(0.688rem, 0.271rem + 1.39vw, 0.938rem);
        }
        @include g.mq(tab) {
          font-size: clamp(0.938rem, 0.806rem + 0.27vw, 1.063rem);
        }
        @include g.mq(pc) {
          transform: translateY(55%);
          padding: 0 2.5%;
          font-size: clamp(0.875rem, 0.605rem + 0.42vw, 1rem);
        }
      }
    }
    &__main {
      &__inner {
        display: inline-block;
        background-color: g.$cYellow;
        position: relative;
        top: 0;
        padding: 5% 12.5% 1.5%;
        border-radius: 50px;
        border: 2px solid g.$cWhite;
        @include g.mq(sp) {
          padding: 3.5% 12.5% 1.5%;
          border: 3px solid g.$cWhite;
        }
        @include g.mq(pc) {
          border-radius: 100px;
          padding: 2.5% 7.5% 1%;
        }
        @include g.mq(pc-l) {
          width: 470px;
          height: 116px;
          padding: 0;
        }
        &__txt {
          text-align: center;
          font-size: clamp(0.563rem, 0.313rem + 1.25vw, 0.688rem);
          font-weight: 700;
          padding-top: 4.5px;
          @include g.mq(sp) {
            font-size: clamp(0.688rem, 0.271rem + 1.39vw, 0.938rem);
          }
          @include g.mq(tab) {
            font-size: clamp(0.938rem, 0.806rem + 0.27vw, 1.063rem);
          }
          @include g.mq(pc) {
            font-size: clamp(0.813rem, 0.408rem + 0.63vw, 1rem);
          }
          @include g.mq(pc-l) {
            margin-top: 6%;
          }
        }
        &__con {
          margin-top: 2.5%;
          display: flex;
          gap: 2.5%;
          justify-content: center;
          align-items: center;
          @include g.mq(sp) {
            margin-top: 4%;
          }
          @include g.mq(pc) {
            margin-top: 3%;
          }
          &__act {
            font-size: clamp(0.813rem, -0.278rem + 5.45vw, 1rem);
            @include g.mq(sp) {
              font-size: clamp(1rem, 0.375rem + 2.08vw, 1.375rem);
            }
            @include g.mq(tab) {
              font-size: clamp(1.375rem, 1.178rem + 0.41vw, 1.563rem);
            }
            @include g.mq(pc) {
              font-size: clamp(1.25rem, 0.845rem + 0.63vw, 1.438rem);
            }
          }
          &__icon {
            width: 13%;
            @include g.mq(pc) {
              width: 15%;
            }
            @include g.mq(pc-l) {
              width: 10%;
            }
            & img {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }
}

.__arrow {
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.top-wrap__btn .cta {
  @include g.mq(pc) {
    text-align: right;
  }
}

.top-wrap__btn .cta-anchor__sub__inner {
  @include g.mq(pc) {
    margin-right: clamp(4.5rem, 0.724rem + 5.89vw, 6.25rem);
  }
  @include g.mq(pc-l) {
    margin-right: 100px;
  }
}
