$breakpoint: (
  sp-s: "screen and (max-width: 480px)",
  sp: "screen and (min-width: 481px)",
  tab: "screen and (min-width: 769px)",
  pc: "screen and (min-width: 1025px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
