$cWhite: #fff;

$cBlack: #000;

$cBlack-2: #333;

$cBlack-shadow: rgba(0, 0, 0, 0.25);

$cBlack-3: #3b3a3a;

$cBlue: #75a7ff;

$cBlue-Clear: rgba(117, 167, 255, 0.3);

$cBlue-Clear-2: rgba(117, 167, 255, 0.16);

$cNavy: #153962;

$cYellow: #ffbf00;

$cGray: #f3f3f3;

$cGray-2: #d1d1d1;

$cGray-3: #5c5c5c;

$cGray-4: #eee;

$cGray-5: #e6e6e6;

$cGray-6: #a9a9a9;

$cGray-7: #ccc;
